@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap");

:root {
    --green: #119706;
    --bgGreen : #ECFFE3;
    --lightGreen : : #119706
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrap-padding {
  padding: 10px 50px;
}

.navbar {
  box-shadow: 0px 0px 6px 0px grey;
  margin-bottom : 2%
}

.navbar-text {
  font-size: 11px;
}

.navbar-brand {
  max-width : 100px
}

.navbar-brand img {
  max-width: 5vw; 
  display: block;
  width: 100%;
}

footer {
  background-color: var(--green);
  margin-top: auto;
}
footer div {
  margin: 20px 0px;
}

.title{
    font-size :62px;
    text-align: center;
    color : var(--green);
    font-weight : semi-bold
}


/* pagination */
.pagination {
    padding : 1% 1%;
    margin-top: 5%;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
}
.pagination .pagination-btn{
    color: var(--green);
    border: 3px solid; 
    padding: 0.5% 1.5%;
    background-color : white;
}

.pagination form{
    width: 40%;
    height: 10%;
}
.pagination form div:nth-of-type(1){
    border-radius: 5px;

}




/* card */
.custom-card {
    width: 16.5rem; 
    /* min-width : fit-content; */
    height : 19rem ;
    /* max-height : fit-content;; */
    text-align: center;
    padding: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border : none;
    margin: 15px;
    cursor : pointer;
    

}
.custom-card span {
    font-size: 13px;
    position: absolute;
    top: 5%; left: 2%;
    background-color: green;
    padding: 2px 3px;
    color: white; 
    border-radius: 3px;
    word-wrap: break-word;
}

.custom-card img {
    border-radius: 5px;
    background-color: grey;
    /* width:140px; */
    height:160px;
}
.card-body {
    color: var(--green);
}


/* modal */

.modal-title {
    color: var(--green);
    font-weight: 600;
  }
  .modal-title span{
    color: var(--green);
    font-weight: 500;
    margin-left : 15px;
    font-size : 27px 
  }
  
  .modal-body img {
    max-width: 100%;
    max-height : 300px;
    /* margin-right: 2%; */
    margin-bottom : 15px 

  }
  
  .modal-header button {
    color: var(--green);
    border: 3px var(--green) solid;
    width: 40px;
    height: 40px;
    background-color: white;
  }
  
  .text-box h2 {
    width: 100%;
    color: var(--green);
    font-weight: 600;

  }
  .text-box h6{
    width: 100%;
    color: var(--green);
    font-weight: 600;
    float : left

  }
  .text-box h6:nth-of-type(2){
    color: var(--green);
    font-weight: 600;
    float : right;
    word-wrap: break-word;

  }
  .text-box row p:nth-of-type(2){
    color: var(--green);
    font-weight: 500;
    float : right;
    word-spacing: 10px;
    word-wrap: break-word;
  }

  .text-box row p{
    color: var(--green);
    font-weight: 500;
    float : left;
    word-spacing: 10px;
    word-wrap: break-word;
  }

  .modal-body img:nth-of-type(2) {

    float:right;
    border-radius : 15px;

  }
  .modal-body img:nth-of-type(3) {

    float:left;

  }
  /* .text-box p, */
  .text-box ul li {
    font-size: 15px;
  }
  
  .experience h4 {
    color: var(--green);
    font-weight: 600;
  }
  .text-box p {
    font-size: 18px;
  }


/* mobile screen */
@media only screen and (max-width: 768px) {
    
    .title {
        font-size: 30px;
      }

      .pagination .pagination-btn{
        color: var(--green);
        border: 3px solid; 
        padding: 0% 3%;
    }

    .pagination form{
        width: 50%;
        height: 5%;
        margin-bottom : 2.5% 
    }
    .custom-card {
        width: 13rem; 
        margin: 10px 10px 10px 30px

    }
    .custom-card span {
        font-size: 10px;
    }

    .card-body {
        color: var(--green);
        font-size : 13px
    }
      
  
  }
  