@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap");@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

@font-face{
  font-family: "Al-Jazeera-Arabic-Bold";
  src: url("https://db.onlinewebfonts.com/t/c42eb56b5b7e3a1238d61dca44501a07.eot");
  src: url("https://db.onlinewebfonts.com/t/c42eb56b5b7e3a1238d61dca44501a07.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/c42eb56b5b7e3a1238d61dca44501a07.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/c42eb56b5b7e3a1238d61dca44501a07.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/c42eb56b5b7e3a1238d61dca44501a07.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/c42eb56b5b7e3a1238d61dca44501a07.svg#Al-Jazeera-Arabic-Bold")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}


:root {
  --green: #119706;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
[dir=rtl]{
  body{
    font-family: Al-Jazeera-Arabic-Bold;
  }


}

@media only screen and (min-width: 1666px) {
  body{
    display: grid;
  }
  .main-container-le-gr1{
  max-width : 1366px;
    display:grid;
    justify-content : center;
    justify-self: center;
  }

}

[dir=rtl] {

  .navbar-text {
    font-size : 18px;
    margin : 0 50px;
  }
}

.wrap-padding {
  padding: 10px 50px;
}

.navbar {
  box-shadow: 0px 0px 6px 0px grey;
  margin-bottom: 20px;
}

.navbar-text {
  font-size: 12px;
}

.navbar-brand {
  max-width : 100px
}

.navbar-brand img {
  max-width: 5vw; 
  display: block;
  width: 100%;
  
}
.dropdown-menu a:hover{
  background-color : var(--bgGreen)
}

.hero_section h1 {
  color: var(--green);
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 40px;
  margin-top: 10%
}

.hero_section p {
  font-weight: 400;
  line-height: 1.5;
  word-spacing: 5px;
  padding-left: 4%;
  margin-bottom: 5%;
}

.section_title {
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 4%;
  
}
.section_title p {
  font-weight: 400;
  line-height: 1.5;
  word-spacing: 5px;
}

ul li {
  list-style: disc;
  font-size: 18px;
  font-weight: 500;
}

.list-link,
.list-link:hover {
  color: var(--green);
  cursor: pointer;
  margin-right: 10px;
}

.link-icon {
  color: var(--green);
}

footer {
  background-color: var(--green);
  margin-top: auto;
}
footer div {
  margin: 20px 0px;
}


.link_chema,
.link_chema:hover {
  margin: 10% -1%;
  color: var(--green);
  text-decoration: none;
  cursor: pointer;
}

.modal {
  word-wrap: break-word;
}
.modal-title {  color: var(--green);
  font-weight: 600;
}
.modal {
  word-wrap: break-word;
}

.modal-body img {
  max-width: 300px;
  float: left;
  margin-right: 2%;
  object-fit: contain;
}

.modal-header button {
  color: var(--green);
  border: 3px var(--green) solid;
  width: 40px;
  height: 40px;
  background-color: white;
}

.text-box h4 {
  width: 100%;
  color: var(--green);
  font-weight: 500;
  
}
/* .text-box p, */
.text-box ul li {
  font-size: 15px;
}

.experience h4 {
  color: var(--green);
  font-weight: 600;
}
.text-box p {
  font-size: 18px;
}

.experience ul li {
  list-style : none;
  color: var(--green);
  font-weight: 600;
  margin-bottom: 3%;
}

.experience li p {
  font-weight: 400;
  font-size: 17px;
  margin: 0;
}

.experience ul li span {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}


/* mobile screen */
@media only screen and (max-width: 768px) {

  .link_chema,
  .link_chema:hover {
    margin: 10% -5%;
    color: var(--green);
    text-decoration: none;
    cursor: pointer;
}


  .hero_section h1 {
    font-size: 30px;
  }
  .section_title {
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 10%;
  }

  .text-box h4 {
    font-size: 20px;
  }

  .text-box p {
    font-size: 14px;
  }

  ul li {
    font-size: 15px;
  }
}
